{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" >
    <title>Document</title>
</head>
<body>
    {% block Titulo%}
        <h1>
            Plantilla Base {{base}}
        </h1>
    {% endblock Titulo%}
    {% block Principal %}
    {% endblock Principal %}

    {% block register%}
    {% endblock register %}

    {% block dashboard%}
    {% endblock dashboard %}
</body>
</html>